body {
  background-color: #333;
  color: #eee;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  border-left: #41b6FF solid 5px;
  border-top: #41b6FF solid 5px;
  border-right: #1166c3 solid 5px;
  border-bottom: #1166c3 solid 5px;
  z-index: 9;
  visibility: hidden;
}

#content {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.title {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 48px;
  margin: 0;
  margin-top: -24px;
  margin-left: -150px;
  /* transform: translateX(-50%); */
  font-size: 48px;
  line-height: 48px;
  overflow: hidden;
  text-align: center;
}

.bc-red {
  background-color: #F44336;
  color: #fff;
}

.bc-pink {
  background-color: #E91E63;
  color: #fff;
}

.bc-purple {
  background-color: #9C27B0;
  color: #fff;
}

.bc-deep-purple {
  background-color: #673AB7;
  color: #fff;
}

.bc-indigo {
  background-color: #3F51B5;
  color: #fff;
}

.bc-blue {
  background-color: #2196F3;
  color: #fff;
}

.bc-light-blue {
  background-color: #03A9F4;
  color: #000;
}

.bc-cyan {
  background-color: #00BCD4;
  color: #000;
}

.bc-teal {
  background-color: #009688;
  color: #fff;
}

.bc-green {
  background-color: #4CAF50;
  color: #000;
}

.bc-light-green {
  background-color: #8BC34A;
  color: #000;
}

.bc-yellow {
  background-color: #FFEB3B;
  color: #000;
}

.bc-amber {
  background-color: #FFC107;
  color: #000;
}

.bc-orange {
  background-color: #FF9800;
  color: #000;
}

.bc-deep-orange {
  background-color: #FF5722;
  color: #fff;
}

.bc-brown {
  background-color: #795548;
  color: #fff;
}

.bc-gray {
  background-color: #9E9E9E;
  color: #000;
}

.bc-blue-gray {
  background-color: #607D8B;
  color: #fff;
}

.bc-black {
  background-color: #000;
  color: #fff;
}

.bc-white {
  background-color: #fff;
  color: #000;
}
